.popup__container-form-button {
    width: 358px;
    height: 50px;
    background-color: black;
    color: white;
    font-size: 18px;
    font-weight: normal;
    line-height: 1;
    border: none;
    border-radius: 2px;
    margin-top: 48px;
    padding: 0;
    cursor: pointer;
    transition: 0.2s linear;
}

@media screen and (max-width: 540px) {
    .popup__container-form-button {
        width: 238px;
        height: 46px;
        margin-top: 45px;
        font-size: 14px;
    }
}

.popup__container-form-button:hover {
    opacity: 80%;
}