.popup__container-form-input {
    width: 358px;
    height: 27px;
    margin-top: 28px;
    padding: 0;
    border: none;
    box-shadow: 0 1px 0 rgba(0, 0, 0, .2);
    font-size: 14px;
    font-weight: normal;
    position: relative;
}

@media screen and (max-width: 540px) {
    .popup__container-form-input {
        width: 238px;
        margin-top: 35px;
    }
}

