.authorize__form-button {
    background-color: white;
    color: black;
    margin-top: 216px;
}

@media screen and (max-width: 540px) {
    .authorize__form-button {
        font-size: 16px;
        margin-top: 173px;
    }
}